.KE9W3OdH6xQ4bvE_SDR3N {
  border-radius: .5em;
  box-shadow: 0 0 .5em black;
  padding: 1em;
  margin: 2em 0;
  transition: all .3s;
}
.KE9W3OdH6xQ4bvE_SDR3N:hover {
  transform: scale(1.01);
}

._3z7q3V-iV6Lqo3wkhbuFCK {
  margin: 0;
}
._3z7q3V-iV6Lqo3wkhbuFCK a {
  color: black;
  text-decoration: none;
}

._3Rx-WVkRsOCHOKAw6AiwHZ {}

._21QO-wFIO1yralYTO7p9Kw {
  display: flex;
  justify-content: space-between;
}

._1GZVnqjitcXAE7OteTQsEZ {}

._1NhbLedVJnCVs_-X1qmm9a {}

@media (max-width: 1000px) {
  ._21QO-wFIO1yralYTO7p9Kw {
    flex-direction: column;
  }
  ._21QO-wFIO1yralYTO7p9Kw * {
    margin: .25em 0;
  }
}
._1SXXtXgRJdpU_Aipb9_bJG {
  border-bottom: 1px solid black;
  font-size: 1.25rem;
  padding: 0 .5em .25em;
}
._2PgnXLPoJEbnMchVf5ngw_ {
  max-width: 1024px;
  margin: 0 auto;
}

._1v0lT1nRHy-Q-5frV4ubK- {
  margin: 1em;
}

._2tydMQZaicsgeDeNcDGdmT {
  margin: 1em;
}

._3fVuJgn2Jlg0_nNckXdgye {
  margin: 1em 0;
}

._3fVuJgn2Jlg0_nNckXdgye legend {
  font-size: 1.125em;
}

._3fVuJgn2Jlg0_nNckXdgye input {
  border: none;
  color: black;
  padding: .25em .5em;
}

._3fVuJgn2Jlg0_nNckXdgye address {
  padding-left: 1em;
}
._1kRDFrg58EHoe7PuJomiS1 {
  border: 1px solid black;
  border-radius: .5em;
  margin: 1em 0;
  padding: 0 .5em;
}

.xi_Nrylord_XxHgm-zOkS {
  margin: .5em 0;
}

._2PE8Mda7FQzJaNudMncfRw {
  margin: .5em 0;
}
._3bVmFqkXWiIbaXj7cW29P9 {
  background: linear-gradient(90deg, #1c3643 0, #273b46 25%, #1e5372);
}

.iKeGw0Ww_ya_a7NutBmnv {
  color: #fff;
  flex-shrink: 0;
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  padding: .5em 1em;
  width: 100%;
}

.BXteqBMQJPi31UkGsYAQa {
  display: flex;
  padding: 1em;
}

._11jA-7gfn1XZbtmnB6fopl {
  color: white;
  text-decoration: none;
  transition: all .3s;
  border: 1px solid white;
  border-radius: .25em;
  padding: .25em .5em;
  margin: 0 .5em;
}
._11jA-7gfn1XZbtmnB6fopl:first-of-type {
  margin-left: 0;
}
._11jA-7gfn1XZbtmnB6fopl:last-of-type {
  margin-right: 0;
}
._11jA-7gfn1XZbtmnB6fopl:hover {
  background-color: white;
  color: black;
  transform: scale(1.01);
}
